

{{#partial "content"}}


<div class="container">
 <h2>Fill in the form and submit to create a tracking record</h2>
 <hr>
    <form action="/trackedAnimals" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Animal Name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>

         <div class="mb-3">
           <label for="health" class="form-label">Health(Healthy/Ill/Okay)</label>
           <input type="text" class="form-control" id="health" name="health">
        </div>

         <div class="mb-3">
           <label for="age" class="form-label">Age(Newborn/Young/Adult)</label>
           <input type="text" class="form-control" id="age" name="age">
        </div>

       <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" class="form-control" id="location" name="location">
       </div>

         <div class="mb-3">
            <label for="ranger_name" class="form-label">Ranger Name</label>
            <input type="text" class="form-control" id="ranger_name" name="ranger_name">
         </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{{/partial}}

{{> layout.hbs}}