{{#partial "content"}}


<div class="container">

<h2>Welcome to Wildlife Tracker</h2>

<p>
    The Forest Service is considering a proposal from a timber company
    to clear cut a nearby forest of Douglas Fir.
</p>
<p>
    Wildlife tracker is an app that helps forest agents track animals and
    keep records.
</p>
<p>
    Wildlife monitoring is essential for keeping track of animal movement
    patterns, habitat utilisation, population demographics, snaring and
    poaching incidents and breakouts. This valuable information,
    has numerous management applications,
    including the planning of successful introduction and removal
    strategies of the animals and cutting of trees.
</p>
</div>


{{/partial}}

{{> layout.hbs}}